@model Deneme.Models.Uye
@{
    ViewBag.Title = "Profil";


}

<h2>Profil</h2>

<hr />

<h3>
    Üyelik Bilgileri
</h3>

<table class="table table-striped">
    <tr>
        <td>Ad</td>
        <td>
            @Model.Ad
        </td>
    </tr>
    <tr>
        <td>Soyad</td>
        <td>@Model.Soyad</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <td>Kullanıcı Adı</td>
        <td>@Model.KullaniciAdi</td>
    </tr>
    <tr>
        <td>Şifre</td>
        <td>@Model.Sifre</td>
    </tr>
</table>
